
$primary-color: #2c7452;
$font-stack: Helvetica, sans-serif;
$nav-bar-height: 100px;
$logo-size: 150px;

h1 {
  color: rebeccapurple;
}

.navbar {
  background: $primary-color;
  color: black;
  height: $nav-bar-height;
}

.navbar img {
  height: $logo-size;
  width: auto;
}

