$primary-color: #2c7452;
$font-stack: Helvetica, sans-serif;
$logo-height: 20px;
a,
a:hover {
  color: black;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar {
  background: $primary-color;
  color: black;
}

.navbar img {
  height: $logo-height;
  width: auto;
  margin-top: $logo-height*0.75;
}

.template-list,
#game,
#create-template,
#landing-page {
  margin-top: $logo-height*3;
}

ul.special-list {
  box-shadow: none;
}

.table-input {
  border: none;
}

.btn-dark {
  color: white;
  border-color: white;
  border-width: thin;
  background-color: $primary-color;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: white;
  background-color: $primary-color;
}

// #landing-page {
html {
  width: 100%;
  height: 100%;
  background: url(../docs/imgs/background.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

#landing-page {
  position: relative;
}

.landing-page-btn {
  position: absolute;
  top: 420px;
  left: 425px;
}

.landing-page-notepad,
.landing-page-logo {
  height: 100px;
  width: auto;
  display: inline-block;
}
