$primary-color: #2c7452;
$font-stack: Arial, Helvetica, sans-serif;
$logo-height: 20px;
@media (max-width: 768px) {
  body {
    padding-top: $logo-height*5;
  }
}

body {
  font-family: $font-stack;
}

#create-template h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#create-template h4 {
  margin-top: 20px;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar {
  background: $primary-color;
  color: black;
}

.navbar img {
  height: $logo-height;
  width: auto;
}

#template-list-container,
#game {
  background-color: white;
}

#template-list,
#game,
#create-template {
  margin-top: $logo-height*3;
}

ul.special-list {
  box-shadow: none;
}

.btn-dark {
  color: white;
  border-color: white;
  border-width: thin;
  background-color: $primary-color;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: white;
  background-color: $primary-color;
}

body {
  background-color: transparent;
}

#landing-page {
  background: linear-gradient(160deg, $primary-color 17%, white 45%);
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing-page-logo {
  height: auto;
  width: 60%;
  margin-bottom: 14em;
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 5%;
  align-self: flex-start;
}

.landing-page-btn {
  align-self: center;
  margin-left: 35%;
}

.white-text,
.white-text:hover,
.white-text:active,
.white-text:visited,
.white-text:focus {
  color: white;
}

.btn.btn-dark.btn-lg.js-scroll-trigger:hover {
  background-color: lighten($primary-color, 5%);
}

.white-text:hover {
  background-color: lighten($primary-color, 5%);
}

.landing-page-notepad {
  height: 450px;
  align-self: flex-end;
}

.landing-page-btn-notepad {
  display: flex;
  flex-direction: row;
}

.enter-name {
  margin: 4em 0em;
  margin-left: 15px;
}

.table-input {
  border: none;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  background-image: none !important;
}
